.wholePage {
    width: 100hv;
}
.aboutMe {
    margin-bottom: 1rem;
}
.projects {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}

.skills {   
    margin-bottom: 1rem;
}

.contact {
    padding: 2rem 1rem;
    margin-bottom: 1rem;
    background-color: #e9ecef;
    border-radius: .3rem;
}
